.modal-logo {
  width: 100px; /* Adjust the size as needed */
  margin-right: auto;
}

.modal-body {
  padding: 0;
}

.modal-wrapper {
  background-color: #007bff;/* Adjust the color as needed */
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.modal-body {
  color:#f0f3f7; 
  background-color: #ebf1f7;/* Adjust the color as needed */
}

.modal-dialog {
  max-width: 1000px; /* Increased width */
}

.form-check-label {
  margin-left: 10px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-content {
  border-radius: 15px;
  overflow: hidden;
}
